doctype html
html(lang="ru")
head
    title Taxi
    link(rel='stylesheet' href='css/main.css')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    body
        div#main

        div.alert#message-window
            img.img.mr-3(src="../assets/danger.png")
            .text

        script(src='js/main.js')