body{
    background: #eee;
}

.card-title{
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    font-size: 0.88rem;
}

%flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.forms{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map{
	height: 400px;
}

.logo-image{
  max-height: 50px;
}

.addOrderPopupBut{
    @extend %flex;

	position: fixed;
	bottom: 2rem;
	right: 2rem;

	text-align: center;
	color: #fff;
	font-weight: 700;
	font-size: 25px;
	line-height: 0;

	width: 50px;
	height: 50px;

	box-shadow: 0 0 10px #000;
	border-radius: 50%;

	cursor: pointer;

	transition: .3s;

	&:hover{
		box-shadow: none;
	}
}

.cursor{
	cursor: pointer;
}

#message-window{
	z-index: 9999;

	position: fixed;
	bottom: 2rem;
	right: -25vw;

	display: flex;
	align-items: center;
	width: 25vw;
	min-width: 300px;

	.text{
		word-break: break-word;
	}

	.img{
		width: 50px;
		height: 50px;
	}

	&.show{
		animation-name: show-message;
		animation-duration: .5s;
		animation-timing-function: ease-out;
		animation-fill-mode: forwards;
	}
	&.hide{
		animation-name: hide-message;
		animation-duration: .5s;
		animation-timing-function: ease-in;
		animation-fill-mode: forwards;
	}

	@media (max-width: 1200px){
		right: -300px;
	}
}

#load{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

@keyframes show-message{
	80%{
		right: 3rem;
	}
	to{
		right: 2rem;
	}
}

@keyframes hide-message{
	from{
		right: 2rem;
	}
	80%{
		right: 3rem;
	}
	to{
		right: calc(-1 * (100% + 2rem));
	}
}

#cropField{
    max-width: 100%;
    max-height: 100%;
}

/* Menu */
%burger-row{
    content: '';

    position: relative;

    width: 100%;
    height: 2px;
    background: #000;

    transition: .3s;
}

.burger{
    @extend %flex;
    flex-direction: column;

    cursor: pointer;

    width: 50px;

    position: relative;

    &-item{
        @extend %burger-row;
    }

    &::before{
        @extend %burger-row;

        top: -8px;
    }

    &::after{
        @extend %burger-row;

        top: 8px;
    }

    &.active{
       .burger-item{
           transform: rotate(-45deg);
       }

       &::before{
           top: 0;
           transform: rotate(45deg);
       }

        &::after{
            opacity: 0;
        }
    }
}

.burger.active + .menu{
    width: auto;
}

.menu{
    background: #fff;
    position: absolute;
    left: 0;
    top: calc(50px + 2rem);
    width: 0;
    overflow: hidden;
    transition: .3s;
    z-index: 999;
    box-sizing: border-box;
    text-align: center;

    &-item{
        padding: 0 2rem;
        margin-bottom: .5rem;
    }
}

.user-ava{
    @extend %flex;

    border-radius: 50%;
    overflow: hidden;

    width: 50px;
    height: 50px;
}

.user-image{
    max-width: 50px;
    max-height: 50px;
}

.drop{
    @extend %flex;
}